<!DOCTYPE html>
{% load static %}
<html lang="es" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'register.css' %}"><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main">
      <div class="container a-container" id="a-container">
        <form class="form" id="a-form" method="post" action="/signup/">
          {% csrf_token %}
          <h2 class="form_title title">Create Account</h2>
          <input class="form__input" type="text" placeholder="Username" name="username">
          <input class="form__input" type="password" placeholder="Password" name="password">
          <input class="form__input" type="password" placeholder="Confirm Password" name="confirm_password">
          <button class="form__button button" type="submit">SIGN UP</button>
        </form>
      </div>
      <div class="container b-container" id="b-container">
        <form class="form" id="b-form" method="post" action="/signin/">
          {% csrf_token %}
          <h2 class="form_title title">Sign in to Website</h2>
          <input class="form__input" type="text" placeholder="username" name="username">
          <input class="form__input" type="password" placeholder="Password" name="password"><a class="form__link">Forgot your password?</a>
          <button class="form__button button" type="submit">SIGN IN</button>
        </form>
      </div>
      
    </div>
    
  </body>
</html>